@charset "UTF-8";
.is-main-color {
  background-color: #8F54B9; }

.light-color {
  background-color: #fff; }

.text.light-color {
  background-color: inherit;
  color: #fff; }

.container .page-heading {
  margin-bottom: 1.5em; }

.container .page-heading:not(:first-child) {
  margin-top: 3em; }

.container .page-heading .subtitle {
  padding-left: 1em; }

.container .page-heading .subtitle:before {
  content: '▶'; }
